.item_box{
    display: flex;
    position: relative;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.item_lists{
    height:7rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow:row;
    width:50%;
    background-color:lightgray;
    border-radius: 15px;
    
}
.date{
    position: absolute;
    padding:2rem;
    border: 2rem rgb(179, 26, 26);
    border-width: 1rem;
    font-size:1em; 
    border-radius: 12px;  
}
.title{
    position:absolute;
    padding: 3rem 10rem;
    height:20px;
    width:200px;
    border: 5rem;
}
.rate{
    position: absolute;
    padding: 3rem 33rem;
}