.item_box{
    display: flex;
    position: relative;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.item_lists{
    height:7rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-flow:row;
    width:50%;
    background-color:lightgray;
    border-radius: 15px;
    
}
.date{
    width: auto;
    margin: auto;
    margin-right: auto;
    padding:1rem 2rem;
    box-sizing:content-box;
    border-radius: 20%;
    background-color:black;
    font-size:1em; 
    align-items: center;
    justify-content: center; 
    color: white;  
}
.title{
    width: auto;
    margin: auto;
    padding: 2rem ;
    height:20px;
    width:200px;
    background-color:black;
    color: white;
    border-radius: 15%;
}
.rate{
    width: fit-content;
    margin-left: auto;
    padding: 2rem ;
    background-color: black;
    color: white;
    margin:auto;
    
    border-radius: 70%;

}